body {
    font-family: 'Lato', san-serif;
}

.logo-main, .recent-posts {
    display: grid;
    justify-items: center;
}

@mixin default-page-layout {
    
    height: 100vh;
    width: 66vw;
    display: grid;
    align-content: space-evenly;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;
$color-gray-three: #d8d8d8;
$color-blue-one: #0079ff;

@import './home.scss';
@import './searchbar.scss';
@import './recent-posts.scss';
@import './post.scss';